*{
    box-sizing: border-box;
    color: white;
}
body{
    background-color: #f0f0f3;
}
.navigation{
    background-color: #373b69;
}

#back{
    color: black;
    margin: 0;
    padding: 0;
    margin-top: 5rem;
    
}

.logo{
    align-items: center;
    text-align: center;
    font-size: 3rem;
    padding-bottom:8px;
}
a:link{
    text-decoration: none;
    color: green;
}
a:visited{
    text-decoration: none;
    color: green;
}

.main{
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-evenly;
    padding-top:30px ;

}
h2{
    text-align: center;
    padding: 0;
    margin: auto;
    font-size: 2rem;
}
.summary,.paymentMethod{
    border: 1px solid rgb(75, 70, 70);
    background-color: #8b7b82;
}
.summary{
    width: 25%;
    padding: 5px;
    font-weight: bold;
    position:static;
}
.paymentMethod{
    width: 90%;
}
.summary h3{
    text-align: center;
    font-size: 20px;
}
.summary .movie-name, .price, .ticketCount, .fee, .total{
    padding: 5px;
} 
.summary .movie-name{
    color: rgb(7, 157, 245);
    font-size: 40px;
    text-shadow:1px 1px 1px rgb(129, 210, 241);
}
.price{
    display: flex;
    justify-content: space-between;
    margin-right: 8px;
}
.ticketCount{
    display: flex;
    justify-content: space-between;
    margin-right: 7px;
}
.ticketCount input{
    color: rgb(216, 20, 20);
}
.fee{
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}
.total{
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}

.paymentMethod{
    padding: 6px;
    line-height: 0.5;
}
form h3{
    text-align: center;
}
form input{
    color: black;
}
form button{
    color: rgb(158, 225, 245);
    width: 90%;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}
.paymentDetail{
    display: flex;
    flex-direction: column;
    padding-top: 7px;
}
.paymentDetail div{
    display: flex;
    justify-content: space-evenly;
}
.submit{
    background-color: rgb(73, 89, 114);
}
#inputItem{
    display: flex;
   }
   #inputItem input{
       width: 60%;
   }
   #item{
       display: flex;
      
   }
   #item label{
       padding: 3px;
   }
   @media screen and (max-width: 500px) {
       .ticketCount input {
           color: black;
           width: 30%;
       }
     }

     @media screen and (max-width: 768px) {
        
      }
      @media screen and (max-width: 600px) {
        
      }